<div id="container">
  <div class="squares-form">
    <span id="allNumbersCheck">
      <input
        type="checkbox"
        id="allNumbers"
        name="allNumbers"
        [formControl]="allNumbers"
        (change)="toggleNumbers($event.target.checked)"
      />
      <label for="allNumbers">Show all numbers</label>
    </span>
    <select
      id="dataset"
      (change)="updateDataset($event.target.value)"
      [formControl]="dataset"
    >
      <option value="">Dataset</option>
      <option *ngFor="let option of datasets" [value]="option.id">{{
        option.name
      }}</option>
    </select>
    <table id="squares">
      <thead>
        <tr>
          <td></td>
          <td *ngFor="let column of columns; let i = index">
            {{ i }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td>
            {{ i }}
          </td>
          <td *ngFor="let column of columns">
            <app-square-cell [home]="rows[row]" [away]="columns[column]">
            </app-square-cell>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
