<div id="container">
  <div class="squares-form">
    <span id="allNumbersCheck">
      <input
        type="checkbox"
        id="allNumbers"
        name="allNumbers"
        [formControl]="allNumbers"
        (change)="toggleNumbers($event.target.checked)"
        />
      <label for="allNumbers">Show %s</label>
    </span>
    <select
      id="dataset"
      (change)="updateDataset($event.target.value)"
      [formControl]="dataset"
      >
      <option value="">Dataset</option>
      @for (option of datasets; track option) {
        <option [value]="option.id">{{
          option.name
        }}</option>
      }
    </select>
    <table id="squares">
      <thead>
        <tr>
          <td></td>
          @for (column of columns; track column; let i = $index) {
            <td>
              {{ i }}
            </td>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of rows; track row; let i = $index) {
          <tr>
            <td>
              {{ i }}
            </td>
            @for (column of columns; track column) {
              <td>
                <app-square-cell [home]="rows[row]" [away]="columns[column]">
                </app-square-cell>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
