<div id="container">
  <form id="squares-form">
    <span id="allNumbersCheck">
      <input
        type="checkbox"
        id="allNumbers"
        name="allNumbers"
        (input)="toggleNumbers($event.target.checked)"
      />
      <label for="allNumbers">Show all numbers</label>
    </span>
    <select id="dataset" (change)="updateDataset($event.target.value)">
      <option value="">Dataset</option>
      <option *ngFor="let option of datasets" [value]="option.id">{{
        option.name
      }}</option>
    </select>
    <table id="squares">
      <thead>
        <tr>
          <td></td>
          <td *ngFor="let column of columns; let i = index">
            <input
              id="away-{{ i }}"
              type="number"
              name="away-{{ i }}"
              [(ngModel)]="columns[column]"
              min="0"
              max="9"
            />
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows; let i = index">
          <td>
            <input
              id="home-{{ i }}"
              name="home-{{ i }}"
              type="number"
              [(ngModel)]="rows[row]"
              min="0"
              max="9"
            />
          </td>
          <td *ngFor="let column of columns">
            <app-square-cell [home]="rows[row]" [away]="columns[column]">
            </app-square-cell>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
