#container {
  width: 440px;
  margin: auto;
}
#squares {
  border-collapse: collapse;
  clear: both;
}
#squares td {
  border: 1px solid;
  padding: 0;
  width: 40px;
}
#squares-form {
  background: #fff;
}

#squares input {
  width: 80%;
}
#allNumbersCheck {
  float: right;
}
#dataset {
  float: left;
}
